# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
smolbot/

# Sensitive Information
.env
credentials.json
token.json

bsoup.py
# Local Data / Storage
calendar_events.json
documents/
data/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# OS specific
.DS_Store
Thumbs.db
